<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.samples.apps.topeka.quiz" >
    <application>
        <activity
            android:name="com.google.samples.apps.topeka.quiz.activity.QuizActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Topeka.QuizActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="topeka.instantappsample.com"
                    android:pathPrefix="/quiz" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="topeka.instantappsample.com"
                    android:pathPrefix="/quiz" />
            </intent-filter>
        </activity>
    </application>
</manifest>